* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 167, 145);
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
}

#evaluation-form {
  border: solid black 1px;
  display: flex;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}
